<!DOCTYPE html>

<html lang="ru">

	<head>

		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>[[*pagetitle]] - [[++site_name]]</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="assets/templates/bolgaria/css/fonts.css" rel="stylesheet">

		<link href="assets/templates/bolgaria/css/jquery-ui.min.css" rel="stylesheet" >

		<link rel="stylesheet" type="text/css" href="assets/templates/bolgaria/css/slick.css"/>

		<link href="assets/templates/bolgaria/css/main.css" rel="stylesheet">

		<link href="assets/templates/bolgaria/css/media.css" rel="stylesheet">

	</head>

	<body>

		<header>

			<div class="header">

				<div class="container">

					<div class="row">

						<div class="col-md-2 col-sm-4 col-xs-4">

							<div class="logo"></div>

						</div>

						<div class="col-md-7 hidden-xs hidden-sm">

							<nav>

								<ul class="menu clearfix">

									<li class="menu__item">

										<a href="index.html">Главная</a>

									</li>

									<li class="menu__item">

										<a href="about.html">О компании</a>

									</li>

									<li class="menu__item">

										<a href="move.html">Переезд в Болгарию</a>

									</li>

									<li class="menu__item">

										<a href="">Открытие представительства</a>

									</li>

									<li class="menu__item">

										<a href="contacts.html">Контакты</a>

									</li>

								</ul>

							</nav>

						</div>

						<div class="col-md-3 col-sm-8 col-xs-8 pull-right">

							<div class="menu__icon pull-right" id="humburger">

								<i class="fa fa-bars"></i>

							</div>

							<div class="phones clearfix">

								<div class="pull-right">

								+7 (495) 12-321-345<br>

								+7 (495) 12-321-345

								</div>

								<div class="phone__icon pull-right" data-toggle="modal" data-target="#myModal"></div>

							</div>

						</div>

					</div>

				</div>

				<nav class="menu__dropdown hided">

					<ul class="menu__dropdown_block clearfix">

						<li class="menu__dropdown_item">

							<a href="index.html">Главная</a>

						</li>

						<li class="menu__dropdown_item">

							<a href="about.html">О компании</a>

						</li>

						<li class="menu__dropdown_item">

							<a href="move.html">Переезд в Болгарию</a>

						</li>

						<li class="menu__dropdown_item">

							<a href="">Открытие представительства</a>

						</li>

						<li class="menu__dropdown_item">

							<a href="contacts.html">Контакты</a>

						</li>

					</ul>

				</nav>

			</div>

			<div class="container">

				<h1 class="header__title text-center">[[*longtitle]]</h1>

				<div class="header__subtitle text-center">

					[[*header_subtitle]]

				</div>

				<a  href="#advantages" class="header__arrow">

					<i class="fa fa-angle-down"></i>

				</a>

			</div>

		</header>

		<section id="advantages" class="advantages">

			<div class="container">

				<h2 class="section__title text-center">Наши преимущества</h2>

				<div class="row clearfix">

					<div class="col-md-4 col-sm-6 col-xs-12">

						<div class="advantages__block text-center">

							<img src="assets/templates/bolgaria/img/main/help.png" alt="помощь">

							<h3 class="advantages__title">Надежность</h3>

							<p class="advantages__subtitle">

								Мы всегда придем к вам на помощь в решении самых неоднозначных вопросов

							</p>

						</div>	

					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">

						<div class="advantages__block text-center">

							<img src="assets/templates/bolgaria/img/main/edit.png" alt="помощь">

							<h3 class="advantages__title">Достоверность</h3>

							<p class="advantages__subtitle">

								Достоверность - главный принцип нашей работы. Мы знаем все тонкости переезда в Болгарию и оформления соответствующих документов

							</p>

						</div>	

					</div>

					<div class="col-md-4 col-sm-12 col-xs-12">

						<div class="advantages__block text-center">

							<img src="assets/templates/bolgaria/img/main/users.png" alt="помощь">

							<h3 class="advantages__title">Компетентность</h3>

							<p class="advantages__subtitle">

								Наши специалисты с большим опытом работы помогут разобраться во всех юридических тонкостях переезда на ПМЖ в Болгарию</p>

						</div>	

					</div>

				</div>

			</div>

		</section>

		<section class="moveout text-center">

			<div class="container">

				<h2 class="section__title">Переезд в Болгарию</h2>

				<div class="row">

					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

						<div class="moveout__quoteblock text-center">

						<p class="moveout__quote">«Если Вам не нравится то место, где вы находитесь - смените его, Вы же не дерево»</p>

						<p class="moveout__author">Джим Рон</p>

						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

						<div class="moveout__question">

							<div class="moveout__arrow">

								<i class="fa fa-angle-down"></i>

							</div>

							<p>Пришло время и перед Вами стоит вопрос<br><span>Как переехать в Болгарию на ВНЖ или ПМЖ?</span></p>

							<div class="moveout__arrow">

								<i class="fa fa-angle-down"></i>

							</div>

						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

						<div class="moveout__answer">

							<h3 class="moveout__title">Мы знаем ответ</h3>

							<p class="moveout__subtitle">Подберем для Вас оптимальный вариант и предложим лучшие условия!</p>

						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">

						<div class="moveout__btn btn">Узнать больше</div>

					</div>

				</div>

			</div>

		</section>

	 	<section class="services text-center">

	 		<div class="container">

	 			<h2 class="section__title">Недвижимость и транспортные услуги</h2>

				<div class="row">

					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

							<div class="services__circles clearfix">

			 					<div class="circle"></div>

				 				<div class="circle"></div>

				 				<div class="circle"></div>

			 				</div>

					</div>

				</div>

	 			

				<div class="row">

					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

						<div class="services__block1 text-center">

			 				<h3 class="services__title">Мечтаете о доме на Солнечном берегу?</h3>

			 				<p class="services__block">Или хотите выгодно инвестировать в  заграничную недвижимость? В любом случае - подходящий вариант уже ждет Вас! Большой выбор объектов жилой и коммерческой недвижимости и профессиональный сервис позволит провести сделку с удовольствием и получить нужный результат</p>

			 			</div>

					</div>

				</div>

				<div class="row">

					<div class="col-md-2 col-md-offset-5">

						<div class="services__icon">

							<i class="fa fa-life-buoy"></i>

						</div>

					</div>

				</div>

	 			<div class="row">

					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

						<div class="services__block2 text-center">

			 				<p class="services__block">Если Ваши чемоданы уже собраны и Вы готовы к переезду, рады предложить Вам транспортные услуги по перевозке личный вещей в Болгарию. Для успешного размещения на новом месте жительства мы поможем перевести Ваши вещи в сохранности

							</p>

			 			</div>

					</div>

				</div>

				<div class="row">

					<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">

						<div class="btn services__btn">Узнать больше</div>

					</div>

				</div>

	 		</div>

	 	</section>

		<section class="reviews text-center">

			<div class="container">

				<h2 class="section__title">Отзывы наших клиентов</h2>

				<div class="row">

					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

						<div class="reviews__slider">

							<div class="reviews__block clearfix">

								<div class="review__photo"></div>

								<h3 class="reviews__name">Диана Апасова</h3>

								<a href="#" class="reviews__link">vk.com/apasova</a>

								<div class="reviews__city">Москва → София</div>

								<p class="review__post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>

							</div>

							<div class="reviews__block clearfix">

								<div class="review__photo"></div>

								<h3 class="reviews__name">Дана Апасова</h3>

								<a href="#" class="reviews__link">vk.com/apasova</a>

								<div class="reviews__city">Москва → София</div>

								<p class="review__post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>

							</div>

						

							<div class="reviews__block clearfix">

								<div class="review__photo"></div>

								<h3 class="reviews__name">Яна Апасова</h3>

								<a href="#" class="reviews__link">vk.com/apasova</a>

								<div class="reviews__city">Москва → София</div>

								<p class="review__post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>

							</div>

						</div>

					</div>



				</div>

				<div class="row">

					<div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">

						<div class="row">

							<div class="reviews__nav clearfix">

								<div class="col-xs-4">

									<div class="reviews__nav1"></div>

								</div>

								<div class="col-xs-4">

									<div class="reviews__nav1 reviews__nav_active"></div>

								</div>

								<div class="col-xs-4">

									<div class="reviews__nav1"></div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section class="contact text-center">

			<div class="container">

				<h2 class="section__title">Есть вопросы<br>по переезду в Болгарию?</h2>

				<div class="row">

					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 ">

						<div class="contact__slogan">Мы проконсультируем Вас бесплатно!</div>

						<div class="header__arrow contact__arrow">

							<i class="fa fa-angle-down"></i>

						</div>

						<form action="success.php" class="js-form" id="popupResult" >

							<p><input type="text" placeholder="ИМЯ" name="name" required autocomplete="off"></p>

							<p><input type="email" placeholder="E-MAIL" name="email" required autocomplete="off"></p>

							<p><input type="tel" placeholder="ТЕЛЕФОН" name="tel" required autocomplete="off"></p>

							<button type="submit" data-submit>Заказать консультацию</button>

						</form>

					</div>

				</div>

			</div>

			<div id="loader">

				<img src="assets/templates/bolgaria/img/ripple.svg">

			</div>

			<div id="overlay">

	    		<div id="thx">

					<span id="close" class="fa fa-close"></span>

	    			Спасибо! Мы обязательно вам перезвоним

	    		</div>

		   	</div>

		</section>

		<footer>

			<div class="container">

				<div class="row">

					<div class="col-md-3 col-sm-4 col-xs-4">

						<div class="footer__logo"></div>

					</div>

					<div class="col-md-3 col-sm-4 col-xs-8">

						<div class="confidentials">2016 / Все права защищены</div>    

					</div>

					<div class="col-md-3 col-sm-4 hidden-xs">

						<div class="terms"><a href="#" class="footer__link">Политика конфиденциальности</a></div>

					</div>

					<div class="col-md-3 hidden-sm hidden-xs pull-right">

						<div class="phones clearfix">

							<div class="pull-right">

							+7 (495) 12-321-345<br>

							+7 (495) 12-321-345

							</div>

							<div class="phone__icon pull-right"></div>

						</div>

				</div>

				</div>

			</div>

		</footer>





		<div id="myModal" class="modal fade" role="dialog">

			<div class="modal-dialog">

				<section class="contact text-center">

					<h2 class="section__title">Есть вопросы<br>по переезду в Болгарию?</h2>

						<div class="contact__slogan">Мы проконсультируем Вас бесплатно!</div>

						<div class="header__arrow contact__arrow">

							<i class="fa fa-angle-down"></i>

						</div>

						<form action="success.php" class="js-form" id="popupResult">

							<p><input type="text" placeholder="ИМЯ" name="name" required autofocus autocomplete="off"></p>

							<p><input type="email" placeholder="E-MAIL" name="email" required autocomplete="off"></p>

							<p><input type="tel" placeholder="ТЕЛЕФОН" name="tel" required autocomplete="off"></p>

							<button type="submit" data-submit>Заказать консультацию</button>

						</form>

				</section>

			</div>

			<div id="loader">

				<img src="assets/templates/bolgaria/img/ripple.svg">

			</div>

			

			<div id="overlay">

	    		<div id="thx">

					Спасибо! Мы обязательно вам перезвоним в течении 24 часов.

	    		</div>

		   	</div>

		</div>



		<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

		<!-- Подключен файл-валидатор, для проверки формы на заполненность  -->

		<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

		<script src="assets/templates/bolgaria/js/jquery-ui.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="assets/templates/bolgaria/js/slick.min.js"></script>

		<script src="assets/templates/bolgaria/js/main.js"></script>

		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

	</body>

</html>