
@font-face {
  font-family: "TT Lakes";
  src: url('..//fonts/TTLakesCondensed-Bold.eot'); /* IE9 Compat Modes */
  src: url('..//fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('..//fonts/TTLakesCondensed-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('..//fonts/TTLakesCondensed-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('..//fonts/TTLakesCondensed-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('..//fonts/TTLakesCondensed-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
}
