@media screen and (min-width: 992px) {
  .logo {
    width: 120%;
    background-size: 100%;
    height: 77px;
  }
  .phones {
    margin: 0 0 0 -30px;
    padding: 17px 0 12px 0;
  }
  .menu__icon {
    display: none;
  }
  .contacts__icon {
    margin-right: 13px;
    margin-bottom: 50px;
  }
  .terms {
    text-align: center;
    display: inline-block;
  }
  .btn {
    width: 90%;
    padding: 20px 0px;
    letter-spacing: 0.05rem;
    margin: 30px auto 0px auto;
  }
  .advantages__block {
    min-height: 430px;
  }
  .reviews__link{
  	margin-left: 5%;
  }
  .reviews__block {
    position: relative;
    margin-top: 65px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 45px 15px 40px 130px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  }

  .review__photo{
  	left: -35px;
  }

   .services__circles {
  	width: 300px;
    margin-top: 100px;
    margin-bottom: -10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .circle:first-child {
    width: 40%;
    height: 0px;
    padding-bottom: 40%;
    margin-left: 5%;
    background-size: 100%;
    border-radius: 50%;
    margin-right: -20%;
  }
  .circle:nth-child(2) {
    width: 50%;
    padding-bottom: 50%;
    height: 0px;
    background-size: 135%;
    margin-right: -20%;
  }
  .circle:last-child {
    width: 40%;
    padding-bottom: 40%;
    height: 0px;
    background-size: 100%;
    border-radius: 50%;
  }
  .about__slogan_1,
  .about__slogan_3 {
    text-align: center;
    margin: 0px;
  }
  .about__slogan_2 {
    text-align: center;
    margin: 20px auto;
  }
  .bio__block_1,
  .bio__block_2 {
    min-height: 670px;
  }
  
  .header__subtitle {
    font-size: 3.163rem;
    line-height: 3.163rem;
    letter-spacing: 0.3rem;
  }
  .move__img1,
  .move__img2 {
    background-size: 100%;
  }
  .move__text,
  .move__description {
    text-align: center;
    margin-top: 0px;
  }
}
@media screen and (max-width: 1200px) {
	.menu{
		display: none;
	}
	.menu__icon{
		display: block;
		margin-left: 15px;
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 991px) {
  .menu {
    display: none;
  }
  .menu__icon {
    display: block;
  }
  .phones {
    float: right;
    margin-right: 15px;
  }
  .header__title {
    font-size: 4.625rem;
    letter-spacing: 0.5rem;
    margin-top: 30vh;
  }
  .header__subtitle {
    font-size: 3.163rem;
    line-height: 3.163rem;
    letter-spacing: 0.3rem;
  }
  .logo {
    width: 100%;
    background-size: 100%;
    height: 77px;
  }
   .services__circles {
  	width: 300px;
    margin-top: 80px;
    margin-bottom: -10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .circle:first-child {
    width: 40%;
    height: 0px;
    padding-bottom: 40%;
    margin-left: 5%;
    background-size: 100%;
    border-radius: 50%;
    margin-right: -20%;
  }
  .circle:nth-child(2) {
    width: 50%;
    padding-bottom: 50%;
    height: 0px;
    background-size: 135%;
    margin-right: -20%;
  }
  .circle:last-child {
    width: 40%;
    padding-bottom: 40%;
    height: 0px;
    background-size: 100%;
    border-radius: 50%;
  }
  .advantages .section__title {
    margin-bottom: 30px;
  }
  .advantages .col-xs-12:last-child .advantages__block {
    margin-bottom: 80px;
    min-height: 320px;
  }
  .advantages__block {
    margin: 10px 0px;
    min-height: 380px;
  }
  .btn {
    width: 90%;
    padding: 20px 0px;
    letter-spacing: 0.05rem;
    margin: 30px auto 0px auto;
  }
  .reviews__name {
    float: left;
    font-size: 1rem;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
  }
  .reviews__link {
    float: right;
    margin-left: 40px;
    font-size: 0.750rem;
    font-weight: 900;
    color: #23aae2;
    text-transform: uppercase;
  }
  .review__post {
    text-align: none;
    margin: 0px 0px 0px 0px;
    font-size: 0.875rem;
    font-weight: 100;
    font-style: italic;
    color: #363636;
  }
  .reviews__block {
    position: relative;
    margin-top: 65px;
    padding: 45px 45px 40px 130px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  }
  .reviews__city {
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: left;
  }
  .review__post {
    margin-top: 15px;
    margin: 30px 0px 0px 0px;
  }

  .reviews__arrows_next, .reviews__arrows_prev{
	top: 40%;
  }

  .terms {
    text-align: center;
  }

  .contacts__block {
    width: 100%;
    margin: 0px;
    box-shadow: none;
  }
  footer {
    position: relative;
    z-index: 1;
  }
  footer .phones {
    display: none;
  }
  .greybackground {
    position: relative;
    background: white;
    z-index: 4;
  }
  .contacts__list {
    padding: 30px 0 10px 0;
  }
  .contacts__item_text span {
    display: inline;
    margin-left: 5px;
  }
  .contacts__icon {
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .about {
    margin-top: 0px;
    box-shadow: none;
    width: 100%;
  }
  .about__text {
    width: 100%;
    margin: 0px;
  }

  .about__slogan_1,
  .about__slogan_3 {
    text-align: justify;
    margin: 0px;
  }
  .about__slogan_2 {
    text-align: center;
    margin: 20px auto;
  }
  .bluestrip {
    width: 100%;
    margin: 35px auto;
    overflow: hidden;
  }
  .bio__block_1,
  .bio__block_2 {
    margin: 60px 0 0 0;
    min-height: 675px;
  }
  .header__arrow_small {
    margin: 10% auto 0 auto;
  }
  .move {
    margin-top: 0px;
    width: 100%;
    box-shadow: none;
  }
  .move__img1,
  .move__img2 {
    width: 100%;
    margin: 0;
    background-size: 100%;
  }
  .move__text,
  .move__description {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  .menu {
    display: none;
  }
  .menu__icon {
    display: block;
  }
  .phones {
    display: none;
  }
  .header__title {
    font-size: 2.638rem;
    letter-spacing: 0.5rem;
    margin-top: 30vh;
    margin-bottom: -30px;
  }
  .header__subtitle {
    font-size: 2.063rem;
    letter-spacing: 0.3rem;
  }
  .logo {
    background-size: 100%;
    height: 77px;
  }
  .section__title {
    font-size: 1.863rem;
    letter-spacing: 0.1rem;
    margin-top: 80px;
  }
  .advantages .col-xs-12:first-child .advantages__block {
    margin-top: 30px;
  }
  .advantages .col-xs-12:last-child .advantages__block {
    margin-bottom: 80px;
  }
  .advantages__block {
    margin: 10px 0px;
    min-height: 360px;
  }
  .btn {
    width: 90%;
    padding: 20px 0px;
    letter-spacing: 0.05rem;
    margin: 30px auto 0px auto;
  }
  .moveout {
    padding-bottom: 80px;
  }
  .moveout__question p {
    padding: 0px 25px;
  }
  .moveout__quoteblock {
    padding: 0px;
  }
  .moveout__quote {
    width: 100%;
  }
  .services__block1 {
    padding: 65px 15px 40px 15px;
  }
  .services__block2 {
    padding: 40px 25px 30px 25px;
  }
  .review__photo {
    margin: 0px auto;
    position: absolute;
    top: -70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .reviews__block {
    margin: 115px auto 45px auto;
    padding: 90px 40px 45px 40px;
  }
  .reviews__name,
  .reviews__link,
  .reviews__city {
    float: none;
    text-align: center;
  }
  .reviews__name {
    margin-bottom: 15px;
  }
  .reviews__link {
    margin: 0px;
    text-decoration: underline;
  }
  .reviews__city {
    margin-top: 10px;
  }
  .review__post {
    margin-top: 24px;
    text-align: center;
  }
  .services__circles {
  	width: 230px;
    margin-top: 80px;
    margin-bottom: -10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .circle:first-child {
    width: 40%;
    height: 0px;
    padding-bottom: 40%;
    margin-left: 5%;
    background-size: 100%;
    border-radius: 50%;
    margin-right: -20%;
  }
  .circle:nth-child(2) {
    width: 50%;
    padding-bottom: 50%;
    height: 0px;
    background-size: 135%;
    margin-right: -20%;
  }
  .circle:last-child {
    width: 40%;
    padding-bottom: 40%;
    height: 0px;
    background-size: 100%;
    border-radius: 50%;
  }
  footer {
    position: relative;
    padding: 30px auto;
    z-index: 1;
  }
  .confidentials {
    text-align: right;
  }
  .footer__logo {
    width: 100%;
    margin-left: -10px;
    background-size: 110%;
  }
  .contacts__block {
    width: 100%;
    margin: 0px;
    box-shadow: none;
  }
  .greybackground {
    background: white;
    z-index: 4;
  }
  .contacts__list {
    padding-top: 10px;
    margin-top: 0px;
  }
  .contacts__icon {
    float: none;
    width: 100%;
    margin-bottom: 25px;
  }
  .contacts__item:nth-child(2) {
    margin-top: 50px;
  }
  .contacts__item_title,
  .contacts__item_text {
    text-align: center;
    display: block;
  }
  .contacts__form {
    margin: 30px 0 0 0;
  }
  .contacts__item_text span {
    display: block;
    margin-bottom: -15px;
  }
  .header__arrow_small {
    margin: 20% auto 0 auto;
  }
  .about {
    margin-top: 0px;
    box-shadow: none;
    width: 100%;
  }
  .about__text {
    width: 100%;
    margin: 0px;
  }
  .about__slogan_1,
  .about__slogan_2,
  .about__slogan_3 {
    float: none!important;
    text-align: center;
    margin: 15px auto;
  }
  .bluestrip {
    width: 100vw;
    margin: 35px -40px;
    overflow: hidden;
  }
  .bio__block_1 {
    margin: 60px 0 0 0;
  }
  .bio__block_2 {
    margin: 15px 0 0 0;
  }
  .move__img1,
  .move__img2 {
    width: 90%;
    margin: 0;
    background-size: 100%;
  }
  .move__text,
  .move__description {
    margin: 10px 0;
    text-align: center;
  }
  .move {
    margin-top: 0px;
    width: 100%;
    box-shadow: none;
  }
  .slick-dots {
    margin: 0 auto 40px auto;
    padding: 0px;
    display: inline-block;
  }

.reviews__arrows_next, .reviews__arrows_prev{
	display: none!important;
}
}

@media screen and (max-width: 385px) {
  .header__subtitle {
    font-size: 1.63rem;
    letter-spacing: 0.2rem;
  }
}